.header__lang-link {
    color: #fff;
    text-decoration-line: none;
    font-size: 24px;
    line-height: 1.17;
    margin-top: 18px;
    margin-bottom: 6px;
    /*border: solid 1px plum;*/
    }
  
  .header__lang-link:hover {
    opacity: .8;
    text-decoration: underline;
  }
  
 