.header__lang-link {
    color: rgba(255, 255, 255, 1);
    text-decoration-line: none;
    font-size: calc((100vw - 320px) / (1280 - 320) * (24 - 18) + 18px);
    line-height: 28px;
    margin-top: 18px;
    margin-bottom: 6px;
    /*border: solid 1px plum;*/
    }
  
  .header__lang-link:hover {
    opacity: .8;
    text-decoration: underline;
  }
  
 