.photo-grid {
    margin: 0 auto 92px;
    max-width: 1184px;
    width: 100%; 
    /*border: solid 1px crimson;*/
  }
   
  @media screen and (max-width: 1024px) {
    .photo-grid {
      max-width: calc(100vw - 96px);
      margin: 0 auto 92px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .photo-grid {
      width: calc(100vw - 48px);
      margin: 0 auto 88px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .photo-grid {
      width: calc(100vw - 896px);
    }
  }