.places {
    max-width: 984px;
    margin: 0 auto 92px;
    /*border: solid red;*/
    
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .places {
      width: calc(100vw - 96px);
    }
  }
  
   
 