.lead {
  margin: 0 auto 92px;
  max-width: 984px;
  width: 100%;
  min-height: 1005px;
  display: flex;
  flex-direction: column;
  
  /* border: solid 1px greenyellow;*/
  }
  
  @media screen and (max-width: 1024px) {
    .lead {
    max-width: 928px;
    height: calc(100vh - 249px);
  }
  }

  @media screen and (max-width: 768px) {
    .lead {
    max-width: 100%;
    min-height: 862px;
  }
  }

  @media  screen and (max-width: 425px) {
    .lead {
    margin: 0 auto 64px;
  }
  }