.lead {
  margin: 0 auto 92px;
  max-width: 984px;
  height: 100%; 
 /* border: solid 1px greenyellow;*/
  }
  
  @media screen and (max-width: 1024px) {
    .lead {
    max-width: 91%;
  }
  }

  @media screen and (max-width: 768px) {
    .lead {
    max-width: 95%;
  }
  }

  @media  screen and (max-width: 425px) {
    .lead {
    margin: 0 auto 64px;
  }
  }