.lead {
  margin: 0 auto 92px;
  max-width: 984px;
 /* border: solid 1px greenyellow;*/
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .lead {
    max-width: 91%;
  }
  }

  @media (min-width: 426px) and (max-width: 768px) {
    .lead {
    max-width: 95%;
  }
  }

  @media  (max-width: 425px) {
    .lead {
    max-width: 95%;
    margin: 0 auto 64px;
  }
  }