.cover__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 3px 1px 0 0;
    max-width: 360px;
    color: #FFFFFF;
    z-index: 2;
    /*border: solid 1px brown;*/
  }

  @media (max-width: 425px) {
    .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 82%;
  }
  }
 