.place_website {
    padding: 0;
    margin: 0 0 0 40px;
    align-self: end;
    max-width: 456px;
    max-height: 46px;
    border: solid 1px khaki;
  }

  @media screen and (max-width: 1280px) {
    .place_website {
      width: 352px;
    }
  }

  @media screen and (max-width: 1024px) {
    .place_website {
      width: 288px;
    }
  }