.place__link {
    color: #fff;
    transition: .3s ease-in-out;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    /*border: solid red;*/
  }
  
  .place__link:hover {
    opacity: .5;
  }
  
  @media screen and (max-width: 768px) {
    .place__link {
      max-width: calc(100vw - 416px);
      
    }
  }
  