.header__logo {    
 max-width: 1280px;
 height: 52px;
 left: 48px;
 top: 28px;
 /*border: solid 1px rebeccapurple;*/
}  

@media screen and (max-width: 319px) {
    .header__logo {
      max-width: 142px;
        
  }

}