    .header {
        display: flex;
        justify-content: space-between;
        margin: 28px auto 56px;
        max-width: 1184px;
        width: 100%;
        align-items: center;
        /*border: solid 1px greenyellow;*/
      }
      
      @media screen and (max-width: 1279px) {
        .header {
        max-width: calc(100vw - 93px);
        margin: 28px auto 48px;
      }
      }

      @media screen and (max-width: 768px) {
        .header {
        max-width: 750px;
       
      }
      }

      @media screen and (max-width: 425px) {
        .header {
        max-width: calc(100vw - 76px);
        margin: 16px auto 48px;
      }
      }