    .lead__title {
        margin: 0 auto 32px;
        font-weight: 900;
        font-size: 96px;
        line-height: 1.04;
        max-width: 720px;
        text-align: center;
        color: #fff;
        /*border: solid 1px magenta;*/
      }

              
      @media (max-width: 768px) {
        .lead__title {
          max-width: 100%;
          font-size: calc( (100vw - 320px) / (1280 - 320) * (96 - 40) + 40px);
           
        }
      }

      @media  (max-width: 426px) {
        .lead__title {
          font-size: 40px;
          max-width: 288px;
          margin: 0 auto 16px;
          line-height: 1.1;
        }
      }