    .lead__title {
        margin: 0 auto 32px;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        max-width: 720px;
        text-align: center;
        color: #fff;
        /*border: solid 1px magenta;*/
      }

              
      @media (min-width: 426px) and (max-width: 768px) {
        .lead__title {
          max-width: 100%;
          font-size: calc( (100vw - 320px) / (1280 - 320) * (96 - 40) + 40px);
          line-height: 44px; 
        }
      }

      @media  (max-width: 426px) {
        .lead__title {
          font-size: 40px;
          line-height: 44px; 
          max-width: 288px;
          margin: 0 auto 16px;
        }
      }