.footer__copyright {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    max-width: 186px;
    width: 100%;
    color: #fff;
    /*border: solid chartreuse;*/
  }

 