.lead__image {
    max-width: 100%;
    min-height: 62.5%;
    width: 100%;
    height: 100%;
    /*border: solid 1px lawngreen;*/
  }

  @media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;   
    }
  }