.lead__image { 
    width: 100%;
    object-fit: cover; 
    /*border: solid 1px lawngreen;*/
    
  }

  @media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    margin: 0 auto;  
    }
  }

  @media screen and (max-width: 768px) {
    .lead__image {
      max-width: 768px;
      min-height: 480px;
      margin: 0;
      padding: 0;
      }
    }

    @media screen and (max-width: 425px) {
      .lead__image {
        max-width: 320px;
        min-height: 200px;
        }
      }