.intro {
    margin: 0 auto 92px;
    max-width: 984px; 
    /*border: solid magenta;*/
  }
    
  @media (min-width: 769px) and (max-width: 1024px) {
    .intro {
      max-width: calc(100vw - 96px);
    }
  }

 