    .cover {
<<<<<<< HEAD
        margin: 0 auto 92px;
        padding: 0;
        max-width: 1184px; 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
=======
        margin: 0 48px;
        padding-bottom: 92px;
        max-width: 1184px;
        box-sizing: border-box;
>>>>>>> 056b365870893f40c11625f14a3a0fdb0526538a
       
        /*border: solid violet;*/
      }
    
      @media screen and (max-width: 1024px) {
        .cover { 
        width: 100%;
        
        
      }
      }

      @media screen and (max-width: 768px) {
        .cover { 
        
        width: 100%;
      }
      }

      @media screen and (max-width: 425px) {
        .cover { 
        margin: 0 auto 64px ;
        max-width: 320px;
      }
      }


     