    .cover {
        margin: 0 auto 92px;
        max-width: 1184px;
        box-sizing: border-box;
        /*border: solid violet;*/
      }
    
      @media screen and (max-width: 1024px) {
        .cover { 
         max-width: 100%;
        
      }
      }

      @media screen and (max-width: 768px) {
        .cover {
          max-width: 100%;

        }
      }