.place__link {
    color: rgba(255, 255, 255, 1);
    max-width: 456px;
    transition: .3s ease-in-out;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400; 
    margin: 1px 0 -3px 1px;
    /*border: solid red;*/
  }
  
  .place__link:hover {
    opacity: .8;
  }

  
  
  @media screen and (max-width: 768px) {
    .place__link {
      max-width: 352px;
      
    }
  }
  