.photo-grid__items {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    list-style-type: none;
    padding: 0 16px;
    /*border: solid green;*/
  }
  
  @media screen and (max-width: 1024px) {
    .photo-grid__items {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 14px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .photo-grid__items {
      gap: 16px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .photo-grid__items {
      gap: 12px;
      grid-template-columns: 100%;
    }
  }  