.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    /*border: solid blue 1px;*/
   
  }
  
 
  @media screen and (max-width: 425px) {
    .lead__caption {
      margin: 0 auto 0 16px;
      font-size: calc( (100vw - 320px) / (1280 - 320) * (14 - 10) + 10px);
    }
  }