.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 24px; 
    /*border: solid green;*/
  }
  
  @media screen and (max-width: 1024px) {
    .footer  {
     max-width: calc(100vw - 96px);
     
    }
  }

  @media screen and (max-width: 768px) {
    .footer  {
      max-width: calc(100vw - 47px);
    }
  }

  @media screen and (max-width: 425px) {
    .footer  {
      max-width: calc(100vw - 32px);
      flex-direction: column;
    }
  }