.place_title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
    margin: 8px 0 0 0;
    color: #fff;
   /* border: solid 1px burlywood;*/
  }
  
    
  @media screen and (max-width: 768px) {
    .place_title {
      width: calc(100vw - 428px);
      font-size: calc( ( 100vw - 768px) / (1280 -768) *  (76-46) + 46px);
      line-height: 46px;
      max-height: 92px;
    }
  }

  @media screen and (max-width: 425px) {
    .place_title {
      margin: 0 16px; ;
      font-size: 32px;
      line-height: 35px;
    }
  }