.place__paragraph {
    line-height: 29.34px;
    margin: 0 0 26px;
    font-size: 18px;
    width: 484px;
    padding: 0;
    box-sizing: border-box;
    /*border: solid blue;*/
  }
  
  .place__paragraph:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1024px) {
    .place__paragraph {
      width: 456px;
      margin: 0 48px 27px 32px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__paragraph {
      margin: 0 16px 25px;
      width: 352px;
      line-height: 26.08px;
    }
  }

  @media screen and (max-width: 320px) {
    .place__paragraph {
      margin: 0 16px 25px;
      width: 288px;
      line-height: 26.08px;
    }
  }